* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #ededf0;
  font-family: "Zilla Slab", serif;
  max-width: 1400px;
}

/*todo:Paleta de colores
 344D67
6ECCAF
ADE792
F3ECB0 */

img {
  max-width: 100%;
}
/* .header {
  background-color: #a8e890;
  overflow: hidden;
} */

.header {
  margin-top: 0;
  padding: 0.025rem 7%;
  background-color: #a8e890;
  /*Metodo para eliminar la barra de scroll en el eje X  */
  overflow: hidden;
}

.header__logo {
  /*Se aplica el tamaño en height para que mantenga el mismo tamaño  */
  height: 7rem;
}

.header__toggle-menu {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  /* filter: invert(1); */
  cursor: pointer;
  height: 40px;
  z-index: 10;
}

.header__ul {
  list-style: none;
  margin-top: 4px;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #344d67;
  transition: transform 0.3s;
  transform: translateX(100%);
  position: fixed;
  left: 0;
  width: 100%;
  height: 100vh;
}

/* Clase para que el menu se muestre desde js */
.header__ul--show {
  /*Indicamos que el menu se quede justo en la posición que esta ahora mismo  */
  transform: translateX(0);
}

.header__li {
  padding: 1rem;
}
.header__a {
  color: #000;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.3rem;
  margin: 0 0.5rem;
  font-weight: 400;
}

.header__icon {
  display: none;
}

.header__icon--line {
  border-bottom: 3px solid #6eccaf;
}
/* Todo:Media queries */
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__ul {
    flex-direction: row;
    transform: translateX(0);
    background-color: transparent;
    margin-top: 0;
    height: auto;
    position: static;
  }

  .header__toggle-menu {
    display: none;
  }

  .header__icon {
    display: inline-block;
    font-size: 2rem;
    margin-left: 0.8rem;
  }
}
