* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --white: #eafbea;
  --gree: #1f6650;
  --blue: #6f9a8d;
  --pink: #ea5e5e;
  --size-1400: 1400px;
  --textSize-XL: clamp(2.2rem, calc(-0.12rem + 5.48vw), 4.13rem);
  --textSize-M: clamp(1.2rem, calc(1.01rem + 0.91vw), 1.72rem);
  --padding-Content: 2%;
}

/* Talla XS 
TallatS
TSlla M 
Talla t 
TSlla XL
Talla XXL  */

body {
  margin: 0;
  background-color: #ededf0;
  font-family: "Zilla Slab", serif;
}

img {
  max-width: 100%;
}
/* header section starts  */
.header {
  padding: 0.025rem var(--padding-Content);
  background-color: var(--gree);
  /*Metodo para eliminar la barra de scroll en el eje X  */
  overflow: hidden;
  /*!Averiguar porque al colocar stiky se desabilita el menu */
  /* position: sticky;
  top: 0; */
  position: fixed;
  width: 100%;
}

.header__logo {
  /*Se aplica el tamaño en height para que mantenga el mismo tamaño  */
  height: 7rem;
  /*Todo: Metodo para ajustar la imagen en sus proporciones normales
   object-fit: cover; */
}

.header__toggle-menu {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 40px;
  z-index: 10;
  color: var(--white);
}

.header__ul {
  list-style: none;
  margin-top: 0.2em;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: var(--blue);
  transition: transform 0.3s;
  transform: translateX(100%);
  /*!Averiguar porque al colocar position:absolue quedan espacio en blanco */
  position: fixed;
  right: 0;
  width: 16rem;
  height: 100vh;
}

/* Clase para que el menu se muestre desde js */
.header__ul--show {
  /*Indicamos que el menu se quede justo en la posición que esta ahora mismo  */
  transform: translateX(0);
}

.header__li {
  padding: 1rem;
}
.header__a {
  color: var(--white);
  text-transform: capitalize;
  text-decoration: none;
  /*!Probar con este tipo de letra desde el celuar para ver como se ve  */
  /* font-size: 1.8rem; */
  font-size: 1.2rem;
  margin: 0 0.5rem;
  font-weight: 500;
  display: block;
}

/*?pseudo clase que se activa cuando tenemos precionado un elemento, generalmente utilizado en resoluciones para dispositivos moviles  */
.header__a--efec:active {
  color: var(--white);
  border-bottom: 0.1rem solid var(--pink);
  padding-bottom: 0.5rem;
  transition: 0.2s linear;
}

.header__icon {
  color: var(--white);
  display: none;
  cursor: pointer;
}

.header__icon--efect:hover {
  color: var(--blue);
  transition: 0.2s linear;
}

.header__icon--line {
  border-bottom: 3px solid var(--pink);
}

/* header section ends */

/*Main section starts  */

.main {
  max-width: var(--size-1400);
  margin-left: auto;
  margin-right: auto;
}

/*Inicio start  */
.inicio {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  scroll-margin-top: 7.5em;
  /* display: flex;
  align-items: center; */
}
.inicio--gradien {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(/assets/imagenes/books.webp);
}

.inicio__content {
  /*Colocar esta resolución para pantallas grandes  */
  max-width: 57rem;
  padding-top: 12em;
  padding-left: var(--padding-Content);
}

.inicio__h2 {
  font-size: var(--textSize-XL);
  text-transform: uppercase;
  font-weight: 700;
  color: var(--white);
  margin: 0;
  padding-right: 0.5em;
}

.inicio__p {
  font-size: var(--textSize-M);
  font-weight: 500;
  line-height: 1.2;
  color: var(--white);
  padding: 1em 0 0.5em;
  margin: 0;
}

/*Inicio end  */

/* header section ends */

.proyectos {
  height: 100vh;
  background-color: peru;
}

.nosotros {
  height: 100vh;
  background-color: crimson;
}

.contactenos {
  height: 100vh;
  background-color: darkolivegreen;
}
/* Todo:Media queries */

/*?Media querie que funciona solo si el dispositivo tiene un cursor  */
@media (hover: hover) {
  .header__a--efec:hover {
    color: var(--blue);
    border-bottom: 0.1rem solid var(--pink);
    padding-bottom: 0.5rem;
    transition: 0.2s linear;
  }
}

@media screen and (min-width: 768px) {
  .header__nav {
    max-width: var(--size-1400);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  .header__ul {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: translateX(0);
    background-color: transparent;
    margin-top: 0;
    height: auto;
    position: static;
  }

  .header__a {
    display: inline;
  }

  .header__toggle-menu {
    display: none;
  }

  .header__icon {
    display: inline-block;
    font-size: 2rem;
    margin-left: 0.8rem;
  }

  .header__icon--line {
    border-bottom: 1px solid var(--pink);
  }
}

@media screen and (min-width: 910px) {
  :root {
    --padding-Content: 7%;
  }
}
